<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
</head>
<body>

<h2>Bienvenido</h2>
<p>Introduce tu nombre de usuario para ver tus películas</p>


<form th:action="@{/inicio}" method="get">

    <label>Nombre de usuario:</label>
    <input type="text" name="nombreUsuario" required>

    <button type="submit">Entrar</button>
</form>

<p>¿Aún no te has registrado?</p>
<a th:href="@{/addUsuario}">Añadir usuario</a>
</body>

<p>Nuestra lista de usuarios</p>
<a th:href="@{/listaUsuarios}"> Lista de usuarios </a>
</html>